@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: lightblue;
  height: '100vh';
  width: 100vw;
}
.sign-in {
  height: 520px;
  width: 900px;
}
.sidebar {
  background-image: url('./Components/images/sidebarDesktop.svg');
  background-repeat: no-repeat;
  background-position: cover;
  margin: 8px;
  border-radius: 12px;
}
.circle {
  border-radius: 50%;
  width: 10px;
  height: 10px;
  padding: 6px;
  border: 1px solid lightgray;
  color: #fff;
  text-align: center;
}
input:checked~.dot {
  transform: translateX(100%);
  background-color: #fff;
}
.checkbox {
  padding: 8px;
}
